@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
:root {
  --color-grey: #353535;
  --color-grey-lite: #7E7E7E;
  --color-fonctionnements: #F6F6F6;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-secondary: #F6F6F6;
  --color-purple: #9356DC;
  --color-green: #99E2D0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.el-bold {
  font-weight: 600;
}

.navbar {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  margin: auto;
  position: relative;
}
.navbar .navbar__logo {
  width: 162px;
}
.navbar .navbar a {
  text-decoration: none;
}
.navbar #btn-return {
  position: absolute;
  left: 25px;
  margin: auto;
  font-size: 25px;
  color: var(--color-black);
}

#header__location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#header__picture {
  position: relative;
  z-index: 1;
}

#header__picture .img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  width: 100%;
}

#header__content {
  padding: 50px;
  text-align: center;
  background: #F6F6F6;
}
#header__content #header__buttons .btn {
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 50px;
  margin-top: 15px;
  border: unset;
  padding: 15px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
#header__content #header__buttons .btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

main #main__fonctionnements__container {
  padding: 30px;
}
main #main__fonctionnements__container #main__fonctionnements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #main__fonctionnements__container #main__fonctionnements .main__fonctionnement {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-fonctionnements);
  border-radius: 20px;
  gap: 20px;
  padding: 15px;
  width: 100%;
  font-weight: 600;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  transition: all 0.3s ease-in-out;
}
main #main__fonctionnements__container #main__fonctionnements .main__fonctionnement .main__fonctionnement__icon {
  color: var(--color-grey-lite);
}
main #main__fonctionnements__container #main__fonctionnements .main__fonctionnement .main__fonctionnement__icon--purple, main #main__fonctionnements__container #main__fonctionnements .main__fonctionnement .main__fonctionnement__number--purple {
  color: var(--color-purple);
}
main #main__fonctionnements__container #main__fonctionnements .main__fonctionnement .main__fonctionnement__number {
  display: flex;
  padding: 1px;
  border-radius: 50px;
  background-color: var(--color-purple);
  color: var(--color-white);
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  margin-left: -27px;
  font-weight: 100;
}
main #main__fonctionnements__container #main__fonctionnements .main__fonctionnement:hover {
  transform: scale(1.02);
}
main #main__fonctionnements__container #main__fonctionnements .main__fonctionnement:hover .main__fonctionnement__icon {
  color: var(--color-purple);
}
main #main__restaurants__container {
  background: #F6F6F6;
  padding: 30px;
}
main #main__restaurants__container #main__restaurants {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main #main__restaurants__container #main__restaurants .main__restaurant {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  text-decoration: none;
  color: var(--color-black);
}
main #main__restaurants__container #main__restaurants .main__restaurant a {
  text-decoration: none;
  color: var(--color-black);
  z-index: 0;
  position: relative;
}
main #main__restaurants__container #main__restaurants .main__restaurant .main__restaurant__new {
  margin: 10px;
  position: absolute;
  right: 0;
  background: #99E2D0;
  color: #008766;
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
main #main__restaurants__container #main__restaurants .main__restaurant .main__restaurant_img {
  min-width: 100%;
  max-width: 100%;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #main__restaurants__container #main__restaurants .main__restaurant .main__restaurant__content {
  display: flex;
  justify-content: space-between;
  margin: auto 30px auto 30px;
}
main #main__restaurants__container #main__restaurants .main__restaurant .main__restaurant__button {
  font-size: 30px;
  -webkit-text-stroke-color: var(--color-black);
  -webkit-text-stroke-width: 1px;
  color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 35px;
  right: 35px;
  z-index: 5;
  transition: background 2s ease;
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%) 0% 0%/100% 0% no-repeat;
  -webkit-background-clip: text;
}
main #main__restaurants__container #main__restaurants .main__restaurant .main__restaurant__button:hover {
  -webkit-text-stroke-color: var(--color-purple);
  background-size: 100% 100%;
}
main #main__restaurants__container #main__restaurants .main__restaurant .main__restaurant__button:active {
  -webkit-text-stroke-color: var(--color-purple);
  background-size: 100% 100%;
}
main #main__plats__container {
  background: #F6F6F6;
  padding: 30px;
  margin-top: -30px;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  z-index: 2;
}
main #main__plats__container #main__plats__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #main__plats__container .main__plats__title {
  font-family: "Shrikhand", serif;
}
main #main__plats__container .main__plats__h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 5px;
}
main #main__plats__container .main__plats__h3__border {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  margin-bottom: 12px;
}
main #main__plats__container .main__plats__button {
  font-size: 30px;
  -webkit-text-stroke-color: var(--color-black);
  -webkit-text-stroke-width: 1px;
  cursor: pointer;
  transition: background 2s ease;
  background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%) 0% 0%/100% 0% no-repeat;
  -webkit-background-clip: text;
  color: transparent;
}
main #main__plats__container .main__plats__button:hover {
  -webkit-text-stroke-color: var(--color-purple);
  background-size: 100% 100%;
}
main #main__plats__container .main__plats__button--favorite {
  -webkit-text-stroke-color: var(--color-purple);
  background-size: 100% 100%;
}
main #main__plats__container .main__plats {
  gap: 12px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
main #main__plats__container .main__plat {
  display: flex;
  justify-content: space-between;
  border-radius: 15.043px;
  background-color: var(--color-white);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}
main #main__plats__container .main__plat .main__plat__colomns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main #main__plats__container .main__plat .main__plat__colomn {
  padding: 15px;
}
main #main__plats__container .main__plat .main__plat__colomn * {
  margin: auto;
}
main #main__plats__container .main__plat h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
main #main__plats__container .main__plat h4, main #main__plats__container .main__plat p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
main #main__plats__container .main__plat__colomn.price {
  align-self: flex-end;
  font-weight: 700;
}
main #main__plats__container .selector {
  transition: all 0.4s ease-in-out;
  border-radius: 0px 15px 15px 0px;
  color: var(--color-white);
  background-color: var(--color-green);
  padding: 15px;
  margin-right: -200px;
}
main #main__plats__container .selector i {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  width: 50px;
}
main #main__plats__container .main__plat:hover .selector, main #main__plats__container .main__plat:focus .selector, main #main__plats__container .main__plat:active .selector {
  margin-right: 0px;
}
main #main__plats__container .main__plats__confirm__button {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 186px;
  height: 50px;
  display: block;
  margin: auto;
  border: unset;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
}
main #main__plats__container .main__plats__confirm__button:hover {
  opacity: 0.85;
}

#main__page-loader {
  position: fixed;
  background: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 10;
  animation: hide-loader-container 3s forwards 1;
}
#main__page-loader .main__page-loader_container {
  margin: auto;
  max-width: 90%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#main__page-loader .main__page-loader_container .loader-icon {
  font-size: 52px;
  color: var(--color-green);
  position: absolute;
  animation: rotate-loader-icon 1s linear infinite;
}

@keyframes hide-loader-container {
  100% {
    visibility: hidden;
  }
}
@keyframes rotate-loader-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#footer__container {
  padding: 30px;
  background-color: var(--color-grey);
}
#footer__container #footer__logo svg * {
  fill: var(--color-white);
  width: 137.58px;
}
#footer__container #footer__colomns .footer__colomn {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#footer__container #footer__colomns .footer__colomn a {
  display: flex;
  color: var(--color-white);
  text-decoration: none;
}
#footer__container #footer__colomns .footer__colomn i {
  width: 35px;
}

@media only screen and (min-width: 768px) {
  .navbar .navbar__logo {
    width: 200px;
    height: 34.2px;
  }
  #main__restaurants__container {
    background: #F6F6F6;
    padding: 30px;
  }
  main .main__fonctionnement__title, main .main__restaurants__title {
    margin-bottom: 15px;
  }
  main #main__fonctionnements, main .main__fonctionnement__title, main #main__restaurants, main .main__restaurants__title {
    max-width: 1200px;
    margin: 30px auto 30px auto;
  }
  main #main__fonctionnements__container #main__fonctionnements {
    flex-direction: row;
    gap: 25px;
  }
  main #main__restaurants__container #main__restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .main__restaurant {
    width: auto;
    flex: 0 1 48%;
    margin: auto;
  }
  main #main__plats__container {
    max-width: 1055px;
    margin: -50px auto auto auto;
  }
  main #main__plats__content {
    max-width: 700px;
    margin: auto;
  }
  main #main__plats__container #main__plats__header {
    justify-content: center;
    gap: 30px;
  }
  #footer__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 7px;
    margin-bottom: auto;
    padding-bottom: 10px;
    padding-top: 50px;
  }
  #footer__logo svg {
    width: 137.58px;
    height: 27px;
  }
  #footer_columns {
    min-width: 661px;
  }
  .footer__colomn {
    margin-right: 20px;
  }
  #footer__colomns, #footer__container #footer__colomns .footer__colomn {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-right: 50px;
  }
}/*# sourceMappingURL=style.css.map */